# light or dark
VITE_THEME="light"

# Dealership Infos
VITE_DEALERSHIP_NAME="TechGo"
VITE_DEALERSHIP_EMAIL="contato@tecgo.com.br"
VITE_DEALERSHIP_PHONE="(11) 1234-5678"
VITE_DEALERSHIP_LOGO="/logos/techgo.logo.svg"